[2016-09-30 07:33] kaikreuzer opened #1 "Set up a build job"
It would be good if we were able to build a binary from the sources on our Jenkins on cloudbees (https://openhab.ci.cloudbees.com/).

Not sure if Cloudbees supports the infrastructure to do this, but we should at least check this out.
##

[2016-09-30 13:48] NicoVermeir opened #3 "Use remote url when on mobile network"
Implementation of the remote url like in HABdroid
##

[2016-10-05 08:57] NicoVermeir opened #4 "Implementing demo mode"
Implementing of demo mode for the Windows app

[2016-10-17 10:55] #3 closed, assigned to NicoVermeir

[2016-11-24 16:25] #4 closed, assigned to NicoVermeir

[2016-11-24 16:27] NicoVermeir opened #7 "Implement new design"
A new design was created. discussion is here: https://community.openhab.org/t/design-proposal-please-pitch-in/16566/6

![openhab](https://cloud.githubusercontent.com/assets/3177418/20605343/29162ed2-b26b-11e6-8348-ac87f7c3e54f.png)

implementation is partially done

[2016-12-02 15:14] NicoVermeir opened #8 "Implement a go back to navigate backwards between linked pages"

[2016-12-16 19:03] thilbig opened #9 "Can't run App from within VS 2015"
The build was ok. But when I start debug or release from VS 2015 the app crashes with NULL pointer exception.

[2016-12-16 19:05] NicoVermeir commented on #9
Where does it crash?

[2016-12-16 19:08] NicoVermeir commented on #9
Also, are you running from dev or master? And also, my own fork is way ahead of this one, I was planning on doing a PR sometime next week to get the dev branch up to date

[2016-12-16 21:09] thilbig commented on #9
It crashed in MainViewModel.cs at line 63 "await _openHabsdk.ResetConnection();"
"Eine Ausnahme vom Typ "System.NullReferenceException" ist in mscorlib.ni.dll aufgetreten, doch wurde diese im Benutzercode nicht verarbeitet."

I use the master not the dev.

[2016-12-17 09:48] NicoVermeir commented on #9
I just pushed all my changes into the dev branch, can you try again from there?

[2016-12-17 09:49] NicoVermeir commented on #8
fixed in #10

[2016-12-17 09:49] #8 closed, assigned to nobody

[2016-12-17 09:49] NicoVermeir commented on #7
slider and switch widget are in dev branch, merged from #10

[2016-12-17 19:31] thilbig commented on #9
I just tried the dev tree. Same as with the master. Don't know whats wrong.
Under Settings I only insert the "OpenHAB URL". I tried it with http:// and without. I used only hostnames instead of IP-Adresses. I also tried the REST website. Is this the problem?
http://<"hostname">:8080
http://<"IP-Adress">:8080
http://<"hostname">:8080/rest/sitemaps/default

I tried the demo mode. It works.

[2016-12-19 10:32] NicoVermeir commented on #9
hmm, I'll have to investigate, haven't run into this myself
Are you running OH 1 or OH 2?

[2016-12-20 18:00] NicoVermeir opened #11 "Switch widget does not have an initial state"

[2016-12-20 18:04] NicoVermeir opened #12 "Create section switch widget"
create a widget for a section switch item

[2016-12-20 18:13] NicoVermeir opened #13 "Frame widget layout"
Frame widget shows title twice and is pushed down too much

[2016-12-20 19:42] #12 closed, assigned to NicoVermeir

[2016-12-23 13:00] NicoVermeir opened #15 "Add color picker widget"

[2016-12-28 20:23] #15 closed, assigned to NicoVermeir

[2016-12-28 20:24] #13 closed, assigned to NicoVermeir

[2016-12-28 20:24] #11 closed, assigned to nobody

[2016-12-28 20:24] #7 closed, assigned to nobody

[2016-12-28 20:24] NicoVermeir opened #18 "Frame widget: make icon smaller and next to label instead of above"

[2016-12-28 20:25] NicoVermeir opened #19 "adjust style of ip cam widget to match new design"

[2016-12-28 20:25] NicoVermeir opened #20 "create rollershutter widget"
Rollershutter widget is currently working like a switch with simple on / off state.
needs to be conform to HabDROID with 3 buttons, up / stop / down and using the mappings as labels

[2016-12-28 20:26] NicoVermeir opened #21 "change template of selected item in the sitemap list"

[2016-12-28 20:26] NicoVermeir opened #22 "edit background image to make titles more clear"

[2016-12-28 20:26] NicoVermeir opened #23 "change style of settingspage to match design"
The settingspage is currently styled very differently from the rest of the design. This needs to change so it matches the rest of the app

[2016-12-28 20:27] NicoVermeir opened #24 "icons, splashscreen, app title"

[2016-12-28 20:39] NicoVermeir opened #25 "Slider has no initial state"

[2016-12-28 20:39] NicoVermeir opened #26 "Slider only responds to drag, not to click"

[2016-12-28 20:44] #18 closed, assigned to nobody

[2016-12-28 21:10] #19 closed, assigned to nobody

[2016-12-28 21:11] NicoVermeir commented on #25
apparently, it does, close as non-issue

[2016-12-28 21:11] #25 closed, assigned to nobody

[2016-12-31 09:59] NicoVermeir commented on #26
fixed in #29

[2016-12-31 09:59] #26 closed, assigned to nobody

[2016-12-31 10:14] #22 closed, assigned to nobody

[2017-01-01 12:40] NicoVermeir commented on #9
turns out there was an issue when running the app for the first time so no server url was set.
the dev branch should work now on a fresh device

[2017-01-01 12:40] #9 closed, assigned to nobody

[2017-01-01 16:14] #24 closed, assigned to nobody

[2017-01-03 20:09] Alex-Witkowski commented on #1
This is not possible with the actual configuration.

You would need to have at least one windows build node. Do you have CI for the iOS App?

Maybe you could use Team Foundation Services for that.

[2017-01-04 20:40] Alex-Witkowski opened #33 "Demo mode not working after fresh install"
Demo mode is not working when starting the app after a new clean install without any settings.

[2017-01-06 08:39] NicoVermeir commented on #33
thanks for contributing!

[2017-01-06 08:39] #33 closed, assigned to nobody

[2017-01-07 09:50] #21 closed, assigned to nobody

[2017-01-07 09:54] NicoVermeir opened #36 "Sync app widgets with openHAB server"
the widgets should respons to actions taken from other clients.

for example:
when I change a slider value from an android device with habdroid, the corresponding widget on the windows app should set the new value as well so that the app stays in sync with the server

[2017-01-07 10:11] #23 closed, assigned to NicoVermeir

[2017-01-09 08:48] NicoVermeir opened #38 "enable username / password connections"
Currently only unauthorized connections are possible with the app.

enable the use of username / password secured connections to openHAB server

[2017-01-10 21:12] #38 closed, assigned to nobody

[2017-01-10 21:38] #20 closed, assigned to nobody

[2017-01-10 21:40] NicoVermeir commented on #1
maybe we could use AppVeyor? We're using it for XAML Styler and it seems to work pretty well.
they have a free plan for OSS projects
https://www.appveyor.com/pricing/

@kaikreuzer what do you think?

[2017-01-12 21:00] Alex-Witkowski opened #41 "Capability "Private Networks" not set in manifest"
This causes `System.Net.Http.HttpRequestException` with inner exception `System.UnauthorizedAccessException` when setting openHAB uri to a lokal instance.

[2017-01-12 21:03] Alex-Witkowski opened #42 "Setting not available URI causes crash on save."
Exception in anonymous method in main view model constructor not handled.

[2017-01-12 22:16] Alex-Witkowski commented on #36
Maybe you can have a look at :
https://github.com/Alex-Witkowski/openhab.windows/tree/EventSubscriptionTest

It is a first proof of concept with event stream. Currently I'm not very happy with the quality but its time for bed :)

I tried to get long polling to work but was not successful. @NicoVermeir Do you have any documentation that is up to date?

[2017-01-12 22:19] Alex-Witkowski opened #44 "SwitchWidget should use styled framework control like ToggleSwitch"
So it would be easy to update values and perform actions with databinding.

[2017-01-13 07:37] NicoVermeir commented on #44
agreed, I tried going this way at first but the template was pretty heavy to style to look like this. so this was a faster way to get a switch going. but should definitely be replaced in the future

[2017-01-13 07:38] #41 closed, assigned to nobody

[2017-01-13 08:01] #42 closed, assigned to nobody

[2017-01-13 17:45] NicoVermeir commented on #36
@Alex-Witkowski
There are two mechanisms:

1. General „item update push events“: https://www.eclipse.org/smarthome/documentation/features/rest.html#server-sent-events-sse
2. Specific subscription for a certain page of a sitemap. This has been recently implemented for the Basic UI. You will find it described here: https://github.com/eclipse/smarthome/pull/2030#issuecomment-243067684

Both use SSE,

[2017-01-23 18:35] kubawolanin opened #47 "[bug] App crashes when you provide openHAB url without the port"
Environment / device: Lumia 735

Steps to reproduce:
1. Open openHAB app
2. Press Settings button
3. Provide wrong openHAB url (in my case it was `http://192.168.0.33` without `:8080`)

Expected result:
App shows an error informing about wrong URL

Actual result:
App crashes silently

Hey guys I wanted to thank you for your hard work! This app is a great opportunity for Windows Phone users to tast

[2017-01-23 18:43] kubawolanin opened #48 "[bug] Knob widget doesn't allow you to set "0" value"
Environment / device: Lumia 735

Steps to reproduce:
1. Create a `Dimmer` item in your openHAB
2. In the Windows app try to set the minimum value for the dimmer (`0`)

Expected result:
Dimmer sets to OFF / 0

Actual result:
The item is stuck at `3`

Here's also a screenshot I made on my wife's phone :-)
Cheers!

![unnamed](https://cloud.githubusercontent.com/assets/2270505/22217608/f54379bc-e1a3-1

[2017-01-23 18:46] kubawolanin opened #49 "[enhancement] Ability to turn off or change the background image/color"
It would be a nice addition to the app if one could change the background color or image.
Sorry for so much tickets at once! :) Just wanted to put it all out there so it's easier to track it.
Again, great job, gentlemen!
Thank you

[2017-01-23 19:20] NicoVermeir commented on #48
it can be a bit hard to get it all the way to 0 on small screen devices but it does work. I was thinking on implementing a widget tap to toggle it on / off to get around this. how does that sound?

[2017-01-23 19:21] NicoVermeir commented on #49
this is definitely on the backlog but I want to get more widgets and polish in there first :)

[2017-01-23 19:24] NicoVermeir commented on #47
thanks for the bug report and the kind words :)

[2017-01-24 19:41] MHerbst opened #50 "[bug] Sitemap type setpoint not working"
In my sitemap I have defined a frame with a setpoint:

[code]

It is display as this:
![image](https://cloud.githubusercontent.com/assets/616792/22263638/6e4b987c-e275-11e6-8417-50877724e10f.png)

[2017-01-24 19:44] NicoVermeir commented on #50
that's because that widget hasn't been implemented yet. we focused on what we thought were the most common widgets for the first release. We'll try to get it into the next version! :)

[2017-01-24 19:53] MHerbst commented on #50
OK :-) But in general it looks really nice. Will keep an eye on the further development.

[2017-02-05 12:39] mheiss opened #51 "Hide menu on the left side"
On my mobile device (Lumia 650) the menu on the left side takes a lot of valuable space. I suggest to hide the menu by default. The store is doing the same. You just see the control to open the menu but nothing else.

Resolution is 1280 x 720 on a 5" device.

![wp_ss_20170205_0002](https://cloud.githubusercontent.com/assets/5145998/22626174/172c8038-eba8-11e6-87d2-a6e7f3d03b30.png)
![wp_ss_2017020

[2017-02-05 20:44] cniweb commented on #1
I think AppVeyor is a good idea!
I have a appveyor.yml example here:
https://github.com/cniweb/openhabUWP/blob/master/appveyor.yml

[2017-02-05 22:04] cniweb commented on #1
I make a PR #52
Build results can you found here:
https://ci.appveyor.com/project/cniweb/openhab-windows

[2017-02-16 20:50] #1 closed, assigned to nobody

[2017-02-22 13:24] mheiss opened #54 "Transparent LiveTile"
Should be supported so that the start screen is not disturbed when the app is pinned.

[2017-02-22 13:26] NicoVermeir commented on #54
next version will (probably) have the white openhab logo, and a transparant tile

[2017-02-27 10:47] NicoVermeir commented on #36
@Alex-Witkowski are you still working on this? just to make sure that we're not working on the same things :)

[2017-02-27 12:58] Alex-Witkowski commented on #36
At the moment I have a lot of load at work and therefor don't have time to code on the app.

So my approach was the "General item update push" and send update events over messenger. Widgets that where actually displayed subscribe to update messages.
I think it's not the worst solution but the SSE handling needs improvement.

Any time frame for the next release?

[2017-02-27 13:33] NicoVermeir commented on #36
depends on when I actually figure out how git works...

also need to discuss a release cycle with the openhab guys so no idea at the moment

[2017-02-27 14:05] NicoVermeir commented on #51
implemented in dev branch, will be included in next version update

[2017-02-27 14:05] #51 closed, assigned to nobody

[2017-02-27 15:05] NicoVermeir commented on #47
fixed in dev branch, will go out with next release

[2017-02-27 15:05] #47 closed, assigned to nobody

[2017-02-27 15:57] NicoVermeir commented on #48
next version will include toggle mode when tapping on the icon, currently in dev branch

[2017-02-27 15:57] #48 closed, assigned to nobody

[2017-02-27 18:17] NicoVermeir commented on #50
setpoint widget added in dev branch, will be included in next update

[2017-02-27 18:17] #50 closed, assigned to nobody

[2017-02-27 18:57] NicoVermeir commented on #54
is implemented in dev branch, change will go out with the next release

[2017-02-27 18:57] #54 closed, assigned to nobody

[2017-02-27 19:15] mheiss commented on #54
Looks nice. Thx :)

[2017-02-28 10:05] NicoVermeir opened #60 "Rework sectionswitch"
A switch with multiple options is currently shown as a combobox. this would be better with togglebuttons in a wrappanel

[2017-02-28 10:34] NicoVermeir commented on #60
added in beta 2

[2017-02-28 10:34] #60 closed, assigned to nobody

[2017-03-04 14:23] NicoVermeir opened #62 "Add selection widget"

[2017-03-04 14:41] NicoVermeir commented on #62
coming in next update

[2017-03-04 14:41] #62 closed, assigned to NicoVermeir

[2017-07-27 18:56] lolodomo opened #65 "Cannot use SSL with untrusted certificates"
Setting the HTTPS URL leads to "Invalid URL, check your settings".

Windows 10 PC

[2017-07-27 18:58] lolodomo opened #66 "No way to return to the parent page"
The arrow at top left allows returning to the main page but there is no way to return to the parent page.

Windows 10 PC

[2017-07-27 19:01] lolodomo opened #67 "Icon of a widget is not depending on item state"
The icon of a widget seems to be independent on the item state. Normally, it should be different for example for a light when the light is ON or OFF.

Windows 10 PC

[2017-07-27 19:07] lolodomo opened #68 "Critical issue: widget state not updated"
If you change the state with another UI for example of a light, the state is not updated in Windows app. Switching to the main page and then returning to the sub-page changes nothing.
It looks like the app is not "listening" to events coming from the server.

Windows 10 PC

[2017-07-27 19:15] lolodomo opened #69 "Wrong button for switch element linked to dimmer light"
If one of my dimmmer lights is ON, after opening Windows app, it looks as OFF with the button "Off" surrounding with black.

It happens only for switch elements linked to dimmer item, not for switch element linked to switch item.

Windows 10 PC

[2017-07-27 19:21] lolodomo opened #70 "Switch with mappings: no different rendering for the selected button"
If you have a switch element with mappings, all buttons are rendered identically without a different rendering for the button corresponding to the current state.

Windows 10 PC

[2017-07-27 19:21] lolodomo opened #71 "Charts are not rendered"
No chart displayed.

Windows 10 PC

[2017-07-27 19:24] lolodomo opened #72 "Image item not supported"
Image element linked to an image item are apparently not supported (no image displayed).

Windows 10 PC

[2017-07-27 19:27] lolodomo opened #73 "Color element not supported"
Apparently, color elements are not yet supported.

Windows 10 PC

[2017-07-27 19:32] lolodomo commented on #66
Strange, it seems to work well now.

[2017-07-27 19:35] lolodomo opened #74 "Rendering of the player element"
The rendering if the player element is a little strange with only the >> on the second line.
As the 4 buttons cannot be on the same line, maybe we should have << and >> on one line and the 2 others on the other line ?

Windows 10 PC

[2017-07-27 19:39] lolodomo opened #75 "Text truncated for String elements"
When you have a long text in a String item, the text appears on one unique line and truncated at keft.
Maybe it could rather be truncated at right with "..." to show that it is truncated, and maybe you could display it on several lines (there is place for that).

Windows 10 PC

[2017-07-27 19:47] lolodomo opened #76 "valuecolor conditions not taken into account"
The app seems to ignore valuecolor conditions of a sitemap element.

I have not tested the labelcolor conditions.

Windows 10 PC

[2017-07-27 20:10] lolodomo commented on #74
Maybe it is due to the length of my item label like for example "Sonos dans le salon" ?

[2017-07-27 20:14] lolodomo commented on #66
I reproduce it now with the demo.

[2017-07-28 08:36] NicoVermeir commented on #68
duplicate of #36

[2017-07-28 08:36] #68 closed, assigned to nobody

[2017-08-03 16:16] robbyb67 commented on #65
same on my site

[2017-08-22 17:51] Alex-Witkowski commented on #65
Is there an public example?
I would like to have a look at it but don't have a https installation/server available at the moment.

[2017-08-22 17:53] Alex-Witkowski commented on #66
Can you please give a better description how to reproduce the issue?
Thanks.

[2017-08-23 10:44] lolodomo commented on #65
The OH server is by default accessible either through HTTP on port 8080 or HTTPS on port 8443.
So you have nothing special to setup to try it.

[2017-08-25 09:45] lolodomo commented on #66
Very easy. Setup to use the demo. On the main page, select 'First Floor" then select "Bathroom" and finally click the left arrow at the top left of the openHAB window. You should be back to "First Floor" but you are on the main screen again.

[2017-08-26 19:11] Alex-Witkowski commented on #65
Works for me with
https://demo.openhab.org:8443
but not with my own installation of openhabianpi with the following error - which is correct.
`The certificate authority is invalid or incorrect`

So we should add an option to ignore certificate errors. Or you could trust the certificate.

[2017-09-19 19:01] tmschx commented on #65
I don't have a public example unfortunately, but I can confirm this issue.
I am running OpenHAB 1.8.3 on an Ubuntu 14.04 server on port 8143 with a self-signed certificate.
The iOS app works like a charm using local URL "https://mydomain.net:8143", even without the option to ignore SSL-certificates, because I installed my own root certificate.
However, the Windows app (v0.2 Beta freshly installed

[2017-10-29 11:50] NicoVermeir commented on #65
it looks like Win10 apps don't have an option to allow untrusted certificates so I can't fix this at the moment. I'll keep looking into it to see if I can find a work-around

[2017-10-29 16:46] NicoVermeir opened #77 "update app to new Windows 10 SDK"
min version: Anniversary
target version: Fall Creators Update

This way we support Windows 10 versions until over a year back

[2017-10-29 16:50] NicoVermeir opened #78 "change logo to new openHAB logo"

[2017-10-30 08:45] NicoVermeir opened #80 "Remember current sitemap"
re-open current sitemap on app restart

[2017-10-30 08:45] NicoVermeir commented on #77
fixed in #79

[2017-10-30 08:45] #77 closed, assigned to nobody

[2017-10-30 10:09] NicoVermeir commented on #78
new logo included in upcoming version

[2017-10-30 10:09] #78 closed, assigned to NicoVermeir

[2017-10-30 10:54] NicoVermeir commented on #67
fixed in upcoming version

[2017-10-30 10:54] #67 closed, assigned to nobody

[2017-10-30 10:55] NicoVermeir commented on #66
I made some changes to the overall work of the app. haven't seen this issue since then, feel free to reopen once the new version is released and it should resurface

[2017-10-30 10:55] #66 closed, assigned to NicoVermeir

[2017-11-01 09:33] NicoVermeir commented on #69
fixed in upcoming release

[2017-11-01 09:33] #69 closed, assigned to nobody

[2017-11-01 16:28] NicoVermeir commented on #70
fixed in upcoming release

[2017-11-01 16:28] #70 closed, assigned to NicoVermeir

[2017-11-02 10:01] NicoVermeir commented on #72
fixed in upcoming release

[2017-11-02 11:46] NicoVermeir commented on #71
fixed in upcoming version

[2017-11-02 11:46] #71 closed, assigned to NicoVermeir

[2017-11-02 14:33] NicoVermeir commented on #36
fixed in upcoming version

[2017-11-02 14:33] #36 closed, assigned to nobody

[2017-11-02 14:42] NicoVermeir opened #88 "Add Mapview widget"
`{
                        "widgetId": "0202_3",
                        "type": "Frame",
                        "label": "Map/Location",
                        "icon": "frame",
                        "mappings": [],
                        "widgets": [{
                            "widgetId": "0202_3_0",
                            "type": "Mapview",
                            "label": "Brand

[2017-11-02 14:43] NicoVermeir opened #89 "Add webview widget"
`{
                            "widgetId": "0203_1_0_1_2",
                            "type": "Webview",
                            "label": "",
                            "icon": "webview",
                            "mappings": [],
                            "height": 8,
                            "url": "http://heise-online.mobi/",
                            "widgets": []

[2017-11-02 15:01] NicoVermeir opened #90 "Optimize for Xbox"
Test and optimize the app so that it runs great on Xbox One, with a controller

[2017-11-04 12:18] NicoVermeir opened #91 "Push out 0.5 release"

[2017-11-04 12:20] NicoVermeir commented on #91
New version pushed to store

[2017-11-04 12:20] #91 closed, assigned to nobody

[2017-11-05 09:37] lolodomo commented on #71
Confirmed.

[2017-11-05 09:42] lolodomo opened #94 "Visibility conditions updates not considered"
If you have for example several charts with different period and a visibility condition on each chart based on the choice of period, the application is rendering the right chart at first loading. But if you make a change of period, it should trigger a new computation of the visibility condition and the change of the chart displayed. There is no change with the current version in the store.

Window

[2017-11-05 09:47] lolodomo commented on #72
Not working with the last version in the store.
What is working is an image element linked a string item containing an image URL.
But what is not working is an image element linked a an image item containing the raw data of the image.

Can you please re-open the issue ?

[2017-11-05 09:47] lolodomo commented on #70
Fix confirmed.

[2017-11-05 09:49] lolodomo commented on #69
Fix confirmed.

[2017-11-05 09:53] lolodomo commented on #67
Fix confirmed.
I open another issue because the current page has to be reopened to see the icon uopdate.

[2017-11-05 09:55] lolodomo opened #95 "No dynamic icon update in the current page"
Icon are now dynamic with the current item state.
But the icon is updated only if you reopen the current page.
There is no update of the icon in the current page when the widget state is updated.

[2017-11-05 10:06] lolodomo commented on #72
My page with Sonos cover art is even crashing the application.

[2017-11-05 10:10] lolodomo commented on #36
That was THE bug that makes the application unusable. Thank you.

For my information, what mechanism are you using for updates ? SSE events ?

[2017-11-05 10:26] lolodomo opened #96 "Selection update retriggering the item update"
It looks like the update of a selection element is retriggering the item update.
Very annoying as it generates a kind of loop.

[2017-11-05 10:38] lolodomo opened #97 "Group value never updated"
If you have this group declared as item:
[code]
and this part in sitemap:
[code]
The value is correct when you start the application but never updated.

[2017-11-05 10:42] lolodomo opened #98 "MAP transformation ignored after startup"
Consider this item:
[code]
It looks like the MAP transformation is considered only at the application startup but then the widget state remains unchanged when the item state is changed. The dynamic icon is correctly adjusted.

[2017-11-05 12:06] NicoVermeir commented on #72
Thanks for the extra information, issue is reopened

[2017-11-05 12:08] NicoVermeir commented on #36
SSE events indeed. the openHAB api exposes the events through a stream

the code is at the bottom of this file
https://github.com/openhab/openhab.windows/blob/master/Openhab.Core/SDK/OpenHAB.cs

[2017-11-06 20:50] NicoVermeir commented on #95
fixed in dev branch

[2017-11-06 20:50] #95 closed, assigned to nobody

[2017-11-06 20:55] NicoVermeir commented on #96
Could you explain further? I don't see anything wrong on my setup

[2017-11-06 21:18] NicoVermeir commented on #80
fixed in dev branch

[2017-11-06 21:18] #80 closed, assigned to nobody

[2017-11-08 17:08] NicoVermeir commented on #97
fixed in dev branch

[2017-11-08 17:08] #97 closed, assigned to NicoVermeir

[2017-11-08 17:57] NicoVermeir commented on #72
fixed in dev branch

[2017-11-08 17:57] #72 closed, assigned to NicoVermeir

[2017-11-09 09:01] kubawolanin opened #104 "Title and "Hamburger" icon are misaligned"
See the following image:

![image](https://user-images.githubusercontent.com/2270505/32596785-d23aed36-c534-11e7-897e-250f0d97cfad.png)

It would be good to decrease a font of the title a bit too.

Thank you for your work!

[2017-11-10 07:39] NicoVermeir opened #106 "App crashes when connecting to an openHAB 1.x server"
more info:
https://community.openhab.org/t/windows-app/35776/12

[2017-11-10 14:37] #106 closed, assigned to nobody

[2017-11-10 14:40] NicoVermeir commented on #104
Fixed in dev branch

[2017-11-10 14:40] #104 closed, assigned to nobody

[2017-11-11 05:41] lucianopeixoto opened #109 ""openHAB Remote URL" field label has an "l" instead of "L" (not uppercase)"
Only a minor mistyping issue, but it's alo easily fixable.

![capture](https://user-images.githubusercontent.com/16669534/32686725-b1df28ee-c689-11e7-9ccb-ae67403b6358.PNG)

[2017-11-11 05:49] #109 closed, assigned to nobody

[2017-11-11 06:38] lucianopeixoto commented on #65
As HTTPS actually works in certain cases, I believe @lolodomo or a collaborator should rename the issue to something like "Cannot use HTTPS URL with invalid certificates".
What do you guys think about that?

[2017-11-11 09:19] tmschx commented on #65
I agree that it is good practice for an error message to be as accurate as possible. In my setup both URL and SSL certificates are (technically) valid, but the certificates are not trusted - at least not globally, they are by me....  A more accurate error message would then be: `Cannot use SSL with untrusted certificates`.

[2017-11-11 09:52] tmschx commented on #65
Haven't looked deep into it yet (I am normally not into Windows related stuff), but it does seem possible to [get a vector of SSL server certificate errors that the app might subsequently choose to ignore](https://docs.microsoft.com/en-us/uwp/api/Windows.Web.Http.Filters.HttpBaseProtocolFilter#Windows_Web_Http_Filters_HttpBaseProtocolFilter_IgnorableServerCertificateErrors). That might help to imp

[2017-11-11 09:55] NicoVermeir commented on #65
tried that one already, made the app crash

[2017-11-17 07:51] NicoVermeir commented on #88
widget added in dev branch

[2017-11-17 07:51] #88 closed, assigned to nobody

[2017-11-21 10:41] NicoVermeir commented on #89
in dev branch

[2017-11-21 10:41] #89 closed, assigned to nobody

[2017-11-24 12:33] cd-tronic opened #114 "App crashes if not able to load Sitemap"
I've got a Sitemap (i think there is something wrong with it - however using a webbrowser it work's great) that crashes the app if I try to navigate to it.
That is not a real issue as I think it is Sitemap related - I have to look at it closer.

The real issue is, that since the last update the last sitemap get's load on Appstart. Now I can't navigate to another Sitemap anymore.

I will have a loo

[2017-11-24 13:49] NicoVermeir commented on #114
any chance you could share your sitemap? I could use it to make the app not crash if it tries to load a defunct sitemap

[2017-11-27 16:06] cd-tronic commented on #114
Hello Nico,
check out the attachment.
This was just a testsitemap which i used to play around with the artnet plugin. I think artnet isn't installed at the moment. This might be why the app crashes. Maybe I have some time to clone the Repo an check out the problem the next days.
[DMX.txt](https://github.com/openhab/openhab.windows/files/1506517/DMX.txt)

I just wanted to add this issue. I think it

[2017-11-27 16:10] cd-tronic commented on #44
do you talk about the toggle Widget? In fact I don't like it that much 'cause I think it's not that intuitive than the standard UWP-Toggle. I always have to think about it to know if it is in ON or OFF state.
Just my opinion.

[2017-11-29 22:39] gerritv commented on #114
I would like to help fix this but need to know how to communicate to the user that there is a problem. openHabException() doesn't display anything to user.

I added `            catch (System.Net.Http.HttpRequestException)
            {
                return false;
            }`

at 251 in OpenHAB.cs, which fixes the crash. (dev branch).
Related to this is that when the Save button is clicked an

[2017-11-30 01:58] gerritv commented on #114
Re: dmx.sitemap, the Switch widget is getting a null Item, thus a NullReferenceException. (Line 52 of SwitchWidgetXaml.cs.
I guess one fix to protect from this (likely common error during sitemap development) is to add a check to each widget for null Item. on entry to SetState(). And show an error to user

[2017-11-30 10:47] NicoVermeir commented on #114
@gerritv great that you want to help out!

there's currently only one point where the user gets notified of an error and that's when you enter an invalid url in the settings. although I'm not very happy with the way that the notification happens.

maybe we should switch to an actual Windows notification? What do you think?

[2017-11-30 12:50] gerritv commented on #114
Yes, I think a 'proper' message is the best way.
https://msdn.microsoft.com/en-us/library/windows/apps/hh738363.aspx

I think a class to display/await for answer/return answer is the clean way. First I will however do a Pull for the above fixes, might be a day or so while I figure that out, not a fan of Git,

[2017-11-30 14:03] gerritv opened #115 "App crashes if Sitemap is unreachable"
Two related issues:
1. App will crash if the sitemap url is unreachable.
2. If you change the sitemap, app doesn't reload on Save of URL on Settings page.

I am prepping a Pull for the 2 fixes

[2017-12-23 20:30] Depechie opened #117 "Main page redesign - variable tiles"
Try to enable variable tiles for the open hab pages

[2018-01-05 17:14] glmnet opened #118 "App crashes here..."
@ OpenHAB.Windows\Controls\SectionSwitchWidget.xaml.cs:29

            if (string.IsNullOrWhiteSpace(Widget.Item.State))

in my particular installation Widget.Item is null so it throws NullReferenceException and it can be fixed like this

            if (string.IsNullOrWhiteSpace(Widget.Item?.State))

however I don't know exactly the root cause, let me know if you need more information here.

[2018-01-17 20:56] cd-tronic opened #119 "Openhab 2.2"
Sitemaps don't load using Openhab 2.2

[2018-01-18 06:47] NicoVermeir commented on #119
works fine here, can you give a bit more detail on your setup?

[2018-01-18 07:17] cd-tronic commented on #119
Okay!. I will do some further testing.
Myopenhab seems to work fine - i can open the  openhabfrontend using myopenhab website.

The setup worked fine with 2.1.

I will check my sitemaps and get back to you.

[2018-01-22 22:28] cd-tronic commented on #119
Hi Nico,
doesn't seem to be a problem with my sitemaps. I just forked a version of Openhab.Windows for me and tried to find the error.
Can you tell me how Openhab catches the sitemaps after launching the app?
I can't find a "get sitemap" or something like this function. Maybe you could give me a hint how this works in the openhab app.

[2018-01-23 08:46] NicoVermeir commented on #119
OpenHAB.Core.ViewModel.MainViewModel
line 158 does the call for loading sitemaps

[2018-01-25 11:59] cd-tronic commented on #119
Hi Nico,
well Sitemaps don't load cause OpenHABVersion is "OpenHABVersion.None".
OpenhabHTTPclient is null (OpenHAB.cs line 61)

CheckUrlReachalbility Function gives me a "false" back for result in (OpenHAB.cs Line240).

So seems to be a problem with my Openhab configuration, right?

[2018-03-06 14:13] mueller-ma opened #121 "Rename repo to openhab-windows"
@kaikreuzer I think you also want to rename this repo.

[2018-03-06 14:58] kaikreuzer commented on #121
So true :-)
@NicoVermeir I hope the repo renaming does not break anything for you - if so, please scream!
Github keeps the old urls in place and automatically redirects, so the risk isn't too high.

[2018-03-06 15:00] #121 closed, assigned to nobody

[2018-12-22 13:38] wwExpert opened #122 "No Sitemaps or something simelar"
Hello,

I installed the App and insert my details for the URL and so on. But nothing is happend, no sitemaps are visible. Is there still in error? (APP Version 0.6, Openhab 2.4).

[2019-01-14 23:39] w3b3rf commented on #96
I'm experiencing similar issues on my system:
The Windows 10 App seems to execute a sendCommand every time a selection item is changed:
- Upon opening a sitemap / frame etc. a "received command" event is logged for every selection on the screen
- I am using a rule set where the "activate rule" item is a string item. The scene (ie. "GoodNight" is selected using a selection element. The rule engine

[2019-04-14 13:31] jp54l opened #123 "Project loading error AND build failures"
Hi

I'm having issues trying to load and build the project in VS 2015 Update 3.

![image](https://user-images.githubusercontent.com/15167253/56093492-d0de8100-5f0c-11e9-8897-9b08d1a3404f.png)

Initially the project would not load in VS 2015 requesting an update required. Selecting download update took me to main VS download page, which only showed the latest tools.....not a specific download or up

[2019-07-04 22:36] maedball opened #125 "Issue with to many Items"
Once i add more than 63 items the default sitemap does not load anymore -> app crashes. If i remove just one random item every thing works as expected.

[2019-10-10 10:04] hoffe86 commented on #122
Cloud someone review the PR

#127

[2019-10-10 10:11] hoffe86 commented on #122
#127

[2019-10-16 13:17] hoffe86 commented on #65
In the meanwhile there is a possibility for the HttpClient class to override the SSL cert check.
I implemented this option

[2019-10-17 07:33] hoffe86 commented on #123
Hi @jp54l
Visual Studio 2019 is working for me
https://visualstudio.microsoft.com/vs/

[2019-10-25 08:47] #122 closed, assigned to nobody

[2019-10-25 12:46] #65 closed, assigned to nobody

[2019-10-26 14:00] hoffe86 opened #131 "Modernize app user interface"
Modernize the application ui and ux.

- General
   - [x] Use Acrylic effects

- UX
   - [x] First Run experience (information about what needs to be done to configure a connection to a OpenHab server or cloud instance.

- Settings
   - [x] Rework settings dialog
   - [x] Add additional UI settings

- Adding multi language support
   - [x] German
   - [x] English

- Controls Improvements
   - [ ] U

[2019-10-26 21:02] hoffe86 commented on #123
Project is updated to VS 2019 -> Close issue

[2019-10-26 21:02] #123 closed, assigned to nobody

[2019-10-28 11:17] cd-tronic commented on #131
- use Toggle-Switch for "switch items"
- remove/change Background-image? ("don't like it personally" and i think it's not fluent design language?`)
- use "normal" slider for "dimmer items"
- smaller icons inside widgets to get more space
- addaptiveGridView (windowscommunitytoolkit) for Widgets.

Acrylic effect is nice!

[2019-10-28 11:18] cd-tronic commented on #131
i will start developing with you as far as i got some more time. I'm pretty busy at the moment.

[2019-10-28 15:36] hoffe86 commented on #131
@cd-tronic Sounds fine for me
I have already prepared a branch with my latest UI changes [features/ui-modernization](https://github.com/openhab/openhab-windows/tree/features/ui-modernization)

[2019-11-10 20:34] hoffe86 commented on #119
Hi @cd-tronic
Can you check if this bug is solved with the latest store version?

[2019-11-11 06:32] cd-tronic commented on #119
Hi @hoffe86,

In fact it worked before also. But i can't remember what the Problem was.
I think something had been wrong with my sitemap. But i'm not sure any more. I will close this.

It was great to see an update for openhab App in Windows store! 😊

[2019-11-11 06:32] #119 closed, assigned to nobody

[2019-11-11 06:33] cd-tronic commented on #117
Hi @Depechie,
What do you mean with variable tiles?

[2019-11-11 12:51] #118 closed, assigned to nobody

[2019-11-11 20:43] Depechie commented on #117
Like the start menu of Windows. Have different sizes, squares, rectangles etc

[2019-11-11 23:32] cd-tronic commented on #117
Hi @Depechie,
Okay. I was thinking about something like that too.

As we discussed in #131 i resize the tiles to get them smaller. After that i got a new idea to give every User the possibillity to set the tiles size in the settings menu.
I don't think it is handy to resize every widget but to select the size from a few different sizes.

What do you think?

[2019-11-13 12:57] Depechie commented on #117
Originally I did a poc with VariableSizedWrapGrid ( https://github.com/Depechie/FluentOpenHab ) worked well.
Only problem I faced was how strict would the Win UI version follow the Widget type definitions and Item definitions. Because height is a given property for an item and I think some dimensions are given per widget type. ( not sure anymore because have been a while since I used it )

[2019-11-14 09:46] hoffe86 commented on #115
Commit 3f72518b85c3ac6327847eb1b569fb4670e8137f closes #115

[2019-11-14 09:47] #115 closed, assigned to nobody

[2019-11-14 09:48] #114 closed, assigned to nobody

[2019-11-25 10:46] Cossey opened #139 "Crash when Sitemap item contains Humidity icon"
openHAB UWP crashes straight to desktop when attempting to load my primary sitemap file.

Issue appears to be the Humidity Icon being used in the sitemap; it could be possible it is related to a colour profile error with this image.

Crash occurs in class `ImageLabel.xaml.cs` in function:
[code]
With Error: `System.ArgumentException: 'Value does not fall within the expected range.'`
Image: `http:/

[2019-11-25 19:20] cd-tronic commented on #139
Hi @Cossey ,

i think this has something to to with the image state.
I'm not sure if this is completely integrated at all. I know that they work but i think i had a simmilar problem with an Icon using states some time ago.
Can you try to edit the url and remove the space before the %.

Set a breakpoint and try to edit the url before you move on.
I'm pretty busy at the moment but i will try to have

[2019-11-26 01:53] Cossey commented on #139
I've already tried this previously, the space between the value and percentage is fine and have tested this with the space removed and have also tested the original URL with the space in a web browser without issue. I'm sure its something with that specific image.

Other images in openHAB that I don't use in my sitemaps might exhibit a similar problem. Happy to assist with this, since this is hold

[2019-11-26 22:22] cd-tronic commented on #139
Hi @ Cossey,

i found that the issue was the '%' character in the url. I added some Regex handling to clean the sate.
See PR #140

[2019-11-26 22:30] Cossey commented on #139
Ah I see. The % is used for encoding special characters in url and likely causing issues.
Thanks for resolving this, great to see this app getting worked on.

[2019-11-27 11:34] Cossey commented on #131
Would it be possible to Implement the `colorpicker` element? Used for changing smart light colours.

[2019-12-07 19:36] hoffe86 commented on #131
Hi @Cossey,
There is already a issue #73 for that.
I will add this feature to the v2020.1 milestone plan.

[2019-12-07 19:56] hoffe86 opened #141 "Navigating back is not working"
Navigating back by clicking on back button is not working anymore.

[2019-12-07 20:36] #141 closed, assigned to hoffe86

[2020-01-06 09:26] hoffe86 opened #145 "Implement github action to build app"
Implement yaml build file to make use of github actions to build app

[2020-01-09 13:09] #145 closed, assigned to hoffe86

[2020-02-02 20:21] Cossey commented on #139
Closing this issue due to PR being merged.

[2020-02-02 20:21] #139 closed, assigned to cd-tronic

[2020-04-13 17:39] maedball opened #150 "App crashing when accessing All Items Sitemap"
Instead of opening my personal sitemap the App opens the all items (internal) sitemap and crashes. The issue can be workaround ed by deleting all items in openhab, changing to the personal sitemap and adding all items again.

This is the error message thrown by the Windows Event viewer.

Version=1
EventType=MoAppCrash
EventTime=132312730681920888
ReportType=2
Consent=1
UploadTime=13231273068401164

[2020-04-14 19:37] #125 closed, assigned to nobody

[2020-05-21 09:37] hoffe86 commented on #150
@maedball Thanks for reporting. I will check that and will come back to you if need additional information

[2020-12-13 18:43] cd-tronic opened #157 "Bug with loading data... not set to invisible after changeing sitemap"
@hoffe86
are you aware that there is an bug at the moment in release/beta where the "Loading Data..." overlay doesn't get invisible after switching the sitemap even if all widgets are load?
It works when the app get's started. But doesn't stop showing the loading bar after switching sitemap.

I got this issue and also got the info from a friend that he is experiencing the same problem

[2020-12-13 19:16] hoffe86 commented on #157
Thanks for hint.
I will check it

[2020-12-25 19:31] cd-tronic opened #164 "support for OH3"
OH3 seems to be not supported right now.
I'm always getting "Unauthorized reveived from server" error

[2020-12-27 17:42] Daniel100111 opened #165 "Windows 2000 upgrade script failing - 3.1.0-SNAPSHOT - Build #2101 (New install)"
Hi All

The windows update scripts failing since 3.1.0

Windows 2000
Java 11
3.1.0-SNAPSHOT - Build #2101 (New install)

Error

##########################################################################################################################################

Unzipping of C:\Users\xxx\AppData\Local\Temp\openhab\openhab-3.1.0.zip to C:\Users\xxxx\AppData\Local\Temp\openhab\update failed.
##

[2021-01-02 19:01] hoffe86 commented on #164
Hey @cd-tronic
Can you check the beta branch I already merged a fix for the OH3 demo system into this branch

[2021-01-05 11:17] cd-tronic commented on #164
Ah yes. I didn't pull your latest commits.
Everything ok!

[2021-01-05 11:17] #164 closed, assigned to nobody

[2021-01-06 11:51] cd-tronic commented on #157
Hi @hoffe86 ,

did you check this? Or can you give me an advise where the "loading data..." overlay should get disabled? It's pretty annoying to restart the app every time after switching the sitemap.

Something else: When does the Microsoft Store get the Updated Beta Versions. Looks like there is no automation for this? My Tablet and some guys around me are waiting for it :)

[2021-01-07 20:11] hoffe86 commented on #165
Hey @Daniel100111,
Thanks for reporting the issue, but I think this issue is related to another repository.
@kaikreuzer can move this issue to the right repository?

[2021-01-07 23:14] hoffe86 commented on #157
Hey @cd-tronic,
Issue is fixed and merged to beta branch. Can you confirm the fix on your side?

I will publish a new beta app release asap when your pending PRs are closed and this issue is also merged into the Beta branch.

[2021-01-08 08:56] cd-tronic commented on #157
Hi @hoffe86,

i will check this out today evening or tomorrow.

Thanks!

[2021-01-09 12:57] cd-tronic commented on #157
Hi @hoffe86,

Bug is fixed!

[2021-01-09 12:57] #157 closed, assigned to hoffe86

[2021-01-10 16:32] cd-tronic opened #172 "Play/Pause Loop when opening OH Windows App"
I was watching TV (Kodi) and suddenly (while opening the sitemaps) the MediaPC (Linux) rebootet.
And my Onkyo AVR started playing Music on Zone2.

I reproduced this with opening the Widows App again.

This time the MediaPC kept working, but I had a Play/Pause loop.

I guess this might have caused the reboot the first time.

I just tried the Beta Version, too
Same issue.

configuring connection
ope

[2021-01-11 15:12] CWempe commented on #172
I do not know exactly which version I am running and if the new version is already available in the App Store. 🤔
Where can I see that?

But here is my Log from `2021-01-09.txt`:

<details>
  <summary>Click to expand</summary>
[code]
</details>

[2021-01-11 15:31] cd-tronic commented on #172
Hi @CWempe,

thank you for the log. This clearly indicates that the bug is created by the OH Windows App.

18:09:35;INFO;Load settings from disk;OpenHAB.Core.Services.SettingsService.Load;;
18:09:35;INFO;Loaded '1' sitemaps items from server;OpenHAB.Core.SDK.OpenHABClient+d__8.MoveNext;;
18:09:35;INFO;Send Command 'PLAY' for item 'HTPC_control of type 'Player';OpenHAB.Core.SDK.OpenHABClient+d__11.

[2021-01-16 17:34] CWempe commented on #172
I tried again today.

Version 2021.1.9.0 (according to Windows Store)

This time I can open the Kodi sitemap without problem.

But once I click on the play or pause button the loop starts. (I have not tried other buttons yet)

![image](https://user-images.githubusercontent.com/1270359/104818645-31f56000-5829-11eb-9c67-4ba248bb9e97.png)

**kodi.item**

[code]

**kod.sitemap**

[code]

Log: https://

[2021-01-17 08:03] hazaart opened #174 "start.bat not running"
Clean windows install of V3.0.0

Exception when fist run:

 org.apache.felix.resolver.reason.ReasonException: Unable to resolve root: missing requirement [root] osgi.identity; osgi.identity=openhab-runtime-ui; type=karaf.feature; version="[3.0.0,3.0.0]"; filter:="(&(osgi.identity=openhab-runtime-ui)(type=karaf.feature)(version>=3.0.0)(version<=3.0.0))" [caused by: Unable to resolve openhab-runtime

[2021-01-25 18:27] hoffe86 commented on #150
Hi @maedball
We released a new version for the Beta App.
https://www.microsoft.com/store/apps/9N140MD0NJ6T

Can you check if the error is also occurring there?

[2021-01-25 23:55] maedball commented on #150
Looking very good, no default sitemap anymore.

Now I just need to fix my newly created sitemap (played to much with openhab3 and introduced several bugs). By now I had no time to fix it.

Once I fixed the it I will reconfirm that everything is running as expected.

[2021-01-26 20:53] maedball commented on #150
After fixing the issues (and there were a lot ;-)). All seems to be working very good!!!!

Thank you very much for the fixes ;-)

[2021-01-26 21:13] hoffe86 commented on #150
Okay sound good.
I will close the issue

[2021-01-26 21:13] #150 closed, assigned to nobody

[2021-01-28 23:22] hoffe86 commented on #172
Hey @CWempe
New app package with the fix is uploaded for certification.
Should be available in store until end of tomorrow.

[2021-01-29 07:51] cd-tronic commented on #172
Hey @hoffe86 ,

sorry I'm busy on softwaredelopement at the moment and am coding for more than 10 Hours every day. I had no brain to look at it even if the last mail stayed set as unread to remind me ;)
Great that you could fix the issue!
@CWempe please report back if it works so that i could close this issue

[2021-01-29 14:58] hoffe86 commented on #172
There is issue in beta app, which leads to a crash.
I working on a fix for that issue.

[2021-01-29 16:47] CWempe commented on #172
So I just wanted to test the new version...

1. I started the old version check if I can still reprodice the issue.
   I opened the Kodi sitemap and clicked the `pause`-Button.
   -> Loop -> Issue still reproducable
2. Opened Windows Store and the update started installing
3. Start new openHAB version
   -> App crashes. 😞

I cannot open the App anymore.

Here is the error from Windows Events:

[co

[2021-01-29 16:49] hoffe86 commented on #172
I published a new package for certification a few minutes ago.
Seems there was an issue with my machine and I just compiled to same code on a another pc without any problem

[2021-01-29 19:38] hoffe86 commented on #172
@CWempe @cd-tronic
Update is available in store and already installed on my non-developer machine.
At the moment it seems fine so far on my side

[2021-01-29 19:51] CWempe commented on #172
Looks good.

I can play/pause my Video without an issue.

Thus issue can be closed in my opinion.

[2021-01-29 20:02] #172 closed, assigned to nobody

[2021-02-02 09:01] hoffe86 commented on #73
@cd-tronic Have you an option to test my change?
Currently I have no device, which needs a color picker

You will find the code in features/color-element branch

[2021-02-02 13:44] cd-tronic commented on #73
@hoffe86 ,
give me some time and i will setup something. I've got DMX and LED Lights flying around but currenty not integrated in OpenHAB. But i thought about integrating them last week :D

[2021-02-02 13:55] hoffe86 commented on #73
@cd-tronic
Take your time in the meanwhile I will take care on #76 and #94

[2021-02-02 14:08] cd-tronic commented on #73
okay. sorry that i can't help you more at the moment. I just don't have time for this... or brain after several hours of programming every day at the moment.

[2021-02-02 14:18] hoffe86 commented on #73
No worry, I have also not so much time

[2021-02-02 14:21] hoffe86 commented on #94
Blocked by openhab/openhab-webui#324

[2021-02-02 14:22] hoffe86 commented on #76
Blocked by openhab/openhab-webui#324

[2021-02-02 14:42] lolodomo commented on #94
There is nothing blocking, visibility conditions are available through sitemap files since years.

[2021-02-02 14:42] lolodomo commented on #76
There is nothing blocking, valurcolor conditions are available through sitemap files since years.

[2021-02-02 14:44] hoffe86 commented on #76
@lolodomo There is currently bug in OH3, which blocks me to setup a sitemap for testing

[2021-02-02 14:46] hoffe86 commented on #94
@lolodomo There is currently bug in OH3, which blocks me to setup a sitemap for testing

[2021-02-02 14:50] lolodomo commented on #76
As I told you, you just have to create a sitemap file manually like everyone did before MainUI. And then you are ready for testing.

[2021-02-02 14:53] lolodomo commented on #94
If you are talking about MainUI sitemap generator not supporting this feature, this is not blocking at all, you can create your sitemap in a file like we have always done since several years.

[2021-02-03 14:23] hoffe86 commented on #75
Text will now truncated for labels and Text Widget value should wrap and truncate (I have no item which has a value which is long enough to truncate).
![image](https://user-images.githubusercontent.com/5873390/106759981-9f7bfb80-6633-11eb-8aa0-88566ed4cac0.png)

[2021-02-03 15:42] hoffe86 opened #178 "Remove support for openHAB 1"
Remove all code for openHab Version 1 support from app.

[2021-02-04 07:50] hoffe86 opened #179 "Connection Dialog Username Textbox input will convert in line break"
When entering username the field will not type. it seems like every character is a carriage return.

[2021-02-04 08:38] #179 closed, assigned to hoffe86

[2021-02-05 16:08] hoffe86 opened #182 "Widget background update/reload on state change"
Implement a mechanism to update sitemap widgets in background when item state changed (openhab.event.ItemStateChangedEvent ).

[2021-02-05 16:11] hoffe86 opened #183 "Support OAuth to authenticate with openHAB Server"
Implement possibility to use OAuth to authenticate REST calls against openHAB server.

[2021-02-05 16:12] hoffe86 opened #184 "Integrate openHAB 3 UI"
Integrate OH3 UI within app.

[2021-02-05 17:37] #94 closed, assigned to hoffe86

[2021-02-05 17:38] #76 closed, assigned to hoffe86

[2021-02-05 17:38] #75 closed, assigned to hoffe86

[2021-02-05 17:38] #44 closed, assigned to hoffe86

[2021-02-05 17:58] hoffe86 commented on #94
Functionality is implemented and will be available in the [Beta app](https://www.microsoft.com/store/apps/9N140MD0NJ6T) update for testing.
At the moment the app update is certification and will be available latest tomorrow.

[2021-02-05 17:58] hoffe86 commented on #76
Functionality is implemented and will be available in the [Beta app](https://www.microsoft.com/store/apps/9N140MD0NJ6T) update for testing.
At the moment the app update is certification and will be available latest tomorrow.

[2021-02-05 17:58] hoffe86 commented on #75
Functionality is implemented and will be available in the [Beta app](https://www.microsoft.com/store/apps/9N140MD0NJ6T) update for testing.
At the moment the app update is certification and will be available latest tomorrow.

[2021-02-05 17:58] hoffe86 commented on #44
Functionality is implemented and will be available in the [Beta app](https://www.microsoft.com/store/apps/9N140MD0NJ6T) update for testing.
At the moment the app update is certification and will be available latest tomorrow.

[2021-02-06 12:03] cd-tronic commented on #73
![image](https://user-images.githubusercontent.com/7304760/107117570-836a9b00-687b-11eb-9bdc-fafa06645fbe.png)

hi @hoffe86,
I get this message as soon as i try to change the color. I try to find the root cause of this.

[2021-02-06 12:52] cd-tronic commented on #73
Ah ok. The problem is that it is not really HSV.
The X value goes from 0 to 360 (degree on the circle).
Y from 0 to 100
Z also from 0 to 100

I need to leav now for the moment but will look at it later again.

[2021-02-06 19:58] cd-tronic commented on #73
Hi @hoffe86
can you please check PR #187
This is my first idea of doing it. I had a bit to try out to get it working.
Currently it's only OneWay (from App to OH) but i will add the other direction later.

I'm transmitting an PR before because we might need to change the Colorpallet but i don't exactly undersand how you did this.
It would be easier to have the colorfield in the same way it is in th

[2021-02-06 19:59] cd-tronic commented on #73
![Screenshot_20210206-205821~2.png](https://user-images.githubusercontent.com/7304760/107128466-35c35200-68be-11eb-8ec1-1b9b0b71d9be.png)

[2021-02-07 14:16] hoffe86 commented on #73
@cd-tronic Feel free to change the control as needed.
Maybe you can also have a look on the UWP default color picker if this would simplify the implementation?
https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/color-picker

I tested the control in the [XAML Control Library](https://www.microsoft.com/en-us/p/xaml-controls-gallery/9msvh128x2zt?activetab=pivot:overviewtab) app

[2021-02-10 12:05] hoffe86 opened #188 "Notification Support"
Fire Badge, Tile and Toast notifications when a item state is changing

[2021-02-10 12:08] hoffe86 opened #189 "Support high resolution icons for widgets"
Implement option to select between png and svg icons.
Add icon caching to avoid additional downloads for the same icon.

[2021-02-10 12:10] hoffe86 opened #190 "Start App on windows logon"
Add option to start app automatically on user logon and support also an option to start minimized

[2021-06-20 15:31] Shituation opened #192 "Not working with openHAB 3.1.0.M5"
The app fails to show the controls showing the error: "Not able to parse runtime verion from openHAB server"

![Captura de pantalla 2021-06-20 122953](https://user-images.githubusercontent.com/43975882/122679960-6946af00-d1c3-11eb-83c0-54db976c3a98.jpg)
![Captura de pantalla 2021-06-20 123035](https://user-images.githubusercontent.com/43975882/122679961-6a77dc00-d1c3-11eb-812e-c1e4dd9af50d.jpg)

[2021-06-21 11:16] cd-tronic commented on #192
Hi @elcosomalo1 ,

i got the same issue since updating to 3.1.0M5.

I will have a look at it within the next days.

Regards

[2021-07-03 06:45] cd-tronic commented on #192
@elcosomalo1 just a small issue. Took some time to get my Openhab solution up and running after switchting to a new PC.

[2021-07-03 12:30] Shituation commented on #192
I tried reinstalling the app today but it still shows the error.

[2021-07-03 15:57] cd-tronic commented on #192
@elcosomalo1 yes. unfortunately @hoffe86 has to review and merg the changes first and then upload the new version to Windows Store.
Stay tuned. Hopefully won't take too long.

[2021-07-03 16:00] cd-tronic commented on #192
@elcosomalo1
OH3.1 is offical out right now. It should work again after updateing OH to the release version. The problem in the app is that the 'M' in '3.1.0.M5' (Milestone 5) can't be parsed to a Version correctly.

[2021-07-03 16:01] Shituation commented on #192
OK! going to try that!  thanks for everything!

[2021-07-03 16:09] cd-tronic commented on #192
you're welcome. Thanks for reporting the issue

[2021-07-04 19:00] hoffe86 commented on #192
Hey @elcosomalo1 @cd-tronic
Sorry for writing so late, but the last months were really challenging at work.
But now I have vacation and more time for the project ;-)

I will have look on the PR to fix error for the upcoming milestone releases.

[2021-07-09 08:24] cd-tronic opened #195 "Icons not updateing correctly"
It looks like dynamic Icons aren't working in OH3 anymore (3.1.0.M5 installed at the moment). E.G. the standard "Power"-Icon for switches stays red all the time.

![image](https://user-images.githubusercontent.com/7304760/125048027-cf767180-e09f-11eb-983c-c7c5fc8f3d41.png)

[2021-07-09 13:07] cd-tronic commented on #195
Further investigations showed that the state wasn't saved to the image cache what made OH for Windows App to take the false image

[2021-07-14 17:23] #73 closed, assigned to cd-tronic

[2021-07-14 17:23] #188 closed, assigned to hoffe86

[2021-07-14 17:23] #189 closed, assigned to hoffe86

[2021-07-14 17:23] #190 closed, assigned to hoffe86

[2021-07-14 17:23] #192 closed, assigned to cd-tronic

[2021-07-14 17:23] #195 closed, assigned to cd-tronic

[2021-07-14 17:26] hoffe86 opened #199 "Integrate Compliance, data privacy and legal information"
Integrate following compliance information

- [ ] Privacy policy
- [ ] Use Open Source component and their license

[2021-07-19 21:52] hoffe86 opened #201 "Improve connection handling"
Improve connection handling and settings

[2022-05-31 05:42] dilyanpalauzov opened #209 "Group item=... values not displayed"
I have installed Openhab over the Windows store.  My sitemap has groups and they have items attached, like `Group item=zzz_power` .  On Android and the Web UI, when the (collapsed) group is displayed, the value of the item (zzz_power) is displayed next to the group.  On Windows, the value of the group is not displayed.

[2022-06-04 11:16] hoffe86 commented on #209
Hey @dilyanpalauzov
Thanks for reporting
Indeed, this functionality is missing and should be part of the app.
I will implement the group values in one of the next releases.